@import url('https://fonts.cdnfonts.com/css/gagalin');

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gagalin', sans-serif;
    font-size: 24px;
    font-style: normal;
    background-color: #fff; /* Тёмный фон */
    color: #8E0726; /* Белый текст */
    margin: 0;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    background-color: #E01C3F;
    color: #fff;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0vw;
    height: 3.9vw;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    color: #66091A;
    align-items: center;
}

.header_logo p {
    padding-left: 1vw;
}

.header_logo img {
    height: 5vw;
    width: auto;
}

.header_soc {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 9vw;

}

.header_soc img {
    height: 3.5vw;
    width: auto;
}


/*приветствие */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 80vw;
}

h1 {
    font-size: 5vw;
    color: #66091A;
    margin-bottom: 0.5vw;
}


.hero--info p {
    font-size: 2vw;
    color: #A3132C;
    margin-bottom: 1vw;
}

.hero img {
    height: auto;
    width: 100%;
    width: 42vw;
    float: right;
    margin-right: -2vw;
}

button {
    background: #A3132C;
    font-family: 'Gagalin', sans-serif;
    color: #fff;
    font-size: 2.3vw;
    border-radius: 50px;
    padding: 1vw 3vw;
    border: 0;
    transition: all 500ms ease;
}



/*описание */

h3  {
    font-size: 5vw;
    text-align: center;
    padding: 1.5vw 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 80vw;
}

.text {
    padding: 0vw 3vw 0vw 0vw
}

.text p {
    font-size: 1.5vw;
    max-width: 42vw;
    text-align: justify;

}

.info img {
    height: auto;
    width: 100%;
    max-width: 25vw;
    float: right;
}




/* как работает */

.logic {
    margin: 1vw 0 4vw 0;
}



/* Партнеры лого */


.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2vw;
}

.logo img {
    height: 5vw;
    width: auto;
    padding: 1vw;
}


/* выпадающий список вопросов */

details {
    font-size: 1.3vw;
    margin: 0 8vw 0 8vw;
    background: #A3132C;
    color: #fff;
    padding: 1vw 2vw 0vw 2vw;
    border-radius: 1.5vw;
}

summary {
    list-style: none;
    cursor: pointer; /* Указывает, что элемент можно нажать */
    color: #F5B3BF;
    font-size: 2vw;
    padding-bottom: 1vw;
    padding-left: 0.4vw;
}

summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: '';
    display: inline-block;
    background: url('../img/arrow.svg') no-repeat center center;
    background-size: contain;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}

details[open] summary::before {
    transform: rotate(180deg); /* Поворот стрелки на 180 градусов */
}

details p {
    padding-left: 4vw;
    padding-bottom: 1.3vw;
    width: 64vw;
    
    text-align: justify;
}

.qve {
    margin: 1vw;
}

.pad {
    padding-bottom: 3vw;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    padding-top: 2vw;
}

.brand {
    display: flex;
    width: 20vw;
}

.brand img {
    height: 7vw;
    width: auto;
}

.links {
    display: flex;
    width: 50vw;
}

.brand {
    display: flex;
    justify-content: space-between;
    font-size: 1.8vw;
    align-items: center;
    margin-bottom: 2vw;

}

.brand p {
    padding-left: 1vw;
}

.colomn {
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin: 0 1vw 0 1vw;
}

.colomn p {
    color: #F5B3BF;
    font-size: 1.2vw;
}

.colomn a {
    font-size: 1.2vw;
}












/* моб версия */
@media (max-width: 768px) {
    body {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }

    
    .container {
        align-items: center;
        align-content: center;
        width: 80%;
    }

    img {
        width: 100%;
    }
    
    /*хедер */
    header {
        height: 16vw;
    }

    .header_logo img {
        height: 12vw;
    }

    .header_logo p {
        font-size: 7vw;
        padding-top: 1vw;
    }

    .header_soc {
        display: flex;
        justify-content: space-between;
        width: 20vw;
        padding-top: 2vw;
    }
    .header_soc img {
        height: 8vw;
        width: auto;
    }

    /*приветствие */

    .hero {
        flex-direction: column-reverse;
        max-width: 100vw;
    }

    .hero--info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero--info p {
        font-size: 3.5vw;
        padding: 1vw 3vw 4vw 3vw;
    }

    .hero img {
        width: 100vw;
        height: auto;
        margin-bottom: 1vw;
    }

    h1 {
        font-size: 10vw;
    }
    
    button {
        background: #A3132C;
        font-family: 'Gagalin', sans-serif;
        color: #fff;
        font-size: 7vw;
        border-radius: 50px;
        padding: 1.5vw 6vw;
        border: 0;
        transition: all 500ms ease;
        margin-top: 2vw;
        margin-bottom: 10vw;
        padding-top: 1vw;
    }

    /*описание */

    .info {
        flex-direction: column;
        justify-content: center;
        width: 80vw;

    }


    h3  {
        font-size: 8vw;
        text-align: center;
        padding: 2vw 4vw 2vw 4vw;
    }
    
    
    .text {
        padding: 0vw 3vw 0vw 0vw
    }
    
    .text p {
        font-size: 2.8vw;
        max-width: 80vw;
        text-align: justify;
        margin-bottom: 5vw;
    }
    
    .info img {
        height: auto;
        width: 100%;
        max-width: 60vw;
        
    }

    .pup h3 {
        width: 50vw;
        margin: 2vw 10vw 2vw 10vw;
    }

    /*Партнеры лого */


    .logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 3vw;
    }
    
    .logo img {
        height: 6vw;
        width: auto;
        padding: 2vw;
    }
        

    
    /*вопросы*/


        
    details {
        padding: 1vw 0.5vw 1vw 0.5vw;
    }

    summary {
        font-size: 3.5vw;
        text-align: left;
        padding: 1vw 0 1vw 4vw;
    }


    details p {
        font-size: 2.8vw;
    }


    .pad {
        align-items: center;
    }

    /* footer */

    footer {
        display: flex;
        justify-content: space-around;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .brand {
        display: flex;
        width: 20vw;
    }

    .brand img {
        height: 7vw;
        width: auto;
    }

    .links {
        display: flex;
        width: 60vw;
    }

    .brand {
        display: flex;
        justify-content: space-between;
        font-size: 2.2vw;
        margin-bottom: 2vw;
        
    }

    .brand p {
        padding-left: 1vw;
    }

    .colomn {
        display: flex;
        flex-direction: column;
        width: 15vw;
        margin: 0 1vw 0 1vw;
        text-align: left;
    }

    .colomn p {
        color: #F5B3BF;
        font-size: 2vw;
    }

    .colomn a {
        font-size: 1.5vw;
    }
}


